.Paper_toggle_mode {
  background-color: var(--PaperBg-color-theme);
  /* margin: 1px; */
  /* padding: 4px; */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 28px;
}

.toggle-mode {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  /* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1); */
  line-height: 1;
}

.input-mode {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  /* transition-delay: 200ms; */
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

.w-8 {
  width: 2rem /* 32px */;
}
