.Btn-Logout {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign-Logout */
.sign-Logout {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-Logout svg {
  width: 17px;
}

.sign-Logout svg path {
  fill: var(--af-white);
}
/* text-Logout */
.text-Logout {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn-Logout:hover {
  width: 125px;
  border-radius: 24px;
  transition-duration: 0.3s;
}

.Btn-Logout:hover .sign-Logout {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text-Logout */
.Btn-Logout:hover .text-Logout {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn-Logout:active {
  transform: translate(2px, 2px);
}
